{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav_content %}
    <a href="{% url 'home' %}">Home</a>
{% endblock nav_content %}
{% block content %}         
    <div class="container">
        <div class="col-6">
            <h1>change password</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quae laboriosam veritatis fuga vitae unde accusantium autem iure possimus tenetur dignissimos, dolore, reiciendis aperiam consectetur ipsum ducimus consequuntur perferendis id.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}<br>
                <div class="user_option"><input type="submit" value="change password" class="order_online"></div>
                <pre>

                    
                </pre>
            </form>
        </div>
    </div>
{% endblock content %}