{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-6">
            <pre>



                    

            </pre>
            <h1>success buy</h1>
            
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, hic maxime omnis distinctio cupiditate nisi recusandae ut aperiam deserunt quidem natus dolorum labore, aspernatur iusto ducimus eius esse doloribus?</h6>
            <p>you can go to <a href="{% url 'home' %}">home</a></p>
                <pre>







                </pre>
            
            </form>
        </div>
    </div>
{% endblock content %}